.house_item {
    border: 1px solid #7c8a9736;
    padding: 10px;
    border-radius: 5px;
}

.house_item-info {
    justify-content: space-between;
    font-family: 'Red Rose', cursive;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

}

@media only screen and (max-width:425px){ 
    .house_item-info {
        font-size: 16px;
    }
    
}
@media only screen and (max-width:320px){ 
    .house_item-info {
        font-size: 13px;
    }
    
}