.nav {
    justify-content: space-around !important;
}
.nav_item {
    margin-right: auto;
    margin-left: auto;
}
.nav_item a {
    color: #434343;
    font-family: 'Red Rose', cursive;
    font-size: 20px;
    line-height: 25px;
    margin: 20px;
}
.nav_item a:hover {
    color: #4d4d4d;
}
.btn_connect {
    background-image: linear-gradient(#A02279, #A02279) !important;
    border: 1px solid #A02279 !important;
}

/* connect wallet section */
.wallet button {
    display: flex;
    background: #F8F9FA;
    width: 100%;
    top: 68px;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    padding: 12px 20px 12px 20px;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: 700;
}
.wallet button:hover {
    background: #F8F9FA;
    border: 1px solid #A02279;
}
.wallet button:focus{
    background: #F8F9FA;
}
.wallet button:active {
    background: #F8F9FA;
}
.direction {
    color: #4040404D;

}
.wallet_two button {
    display: flex;
    background: #ffffff !important;
    width: 100%;
    top: 68px;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    padding: 12px 20px 12px 20px;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: 700;
}
.wallet_two button:hover {
    background: #ffffff;
    border: 1px solid #A02279;
}
.wallet_two button:focus{
    background: #ffffff;
}
.wallet_two button:active {
    background: #ffffff;
}