.first_section {
    width: 100%;
    margin-top: 50px;

}

.houses_header h3{
    font-family: 'Red Rose', cursive;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #000000;
}
.service_section {
    background: linear-gradient(#A02279, #A02279);
    width: 100%;
    margin-top: 30px;
   
    
}
@media only screen and (max-width:425px){ 
    .first_section {
    margin-top: 10px;
    }
    .houses_header h3{
        font-size: 37px;
        
    }
}
@media only screen and (max-width:375px){ 
    .houses_header h3 {
        font-size: 26px;
    }
}